

@media (max-width: 767px){
	.rightNav{
	 	margin-left: 15px !important;
	   margin: 25px;
	   overflow: visible;
	}
}


	
@media (max-width:992px){
	.leftNav
	{
	   /*  width: 20%;
	    height: 100%;
	    float: left;    
	    margin: 0 auto 0 auto;
	 	position: fixed; */
	 	position: fixed;
	left: 0;
	top: 0;
	width: 20%;
	}

	
}

.rightNav{
	    margin-left: 20%;
	    margin-right: 25px;
	  
	    height: 100%;
	}
	
.leftTop{
	 height: 40%;
}

.leftBottom{
	width: 100%;
	text-align: center;
	 margin: 0 auto 0 auto;
	 margin-top: 30%;
}





table.leftTable{
	border-collapse: inherit;
	text-align: center;
		padding: 10%;
}
	
}


html, body {
    height: 100%;
    
}





