/* .rounded{
    border: solid #0096D6 1px;
    border-top-right-radius:50px;
    border-top-left-radius:50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.container {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        
    }
    .row {
    margin-right: 50px;
    margin-left: 50px;
} */
 .center-block {
    width:300px;
    padding:10px;
    
    }

.table th, .table td { 
     border-top: none !important; 
 }